:root {
  --color-black: #11151C;
  --color-blue: #212D40;
  --color-blue-dark: rgb(29, 40, 57);
  --color-blue2: #364156;
  --color-orange2: #7D4E57;
  --color-orange: #D66853;
  --color-orange-dark: rgb(181, 88, 70);
  --color-white: white;
}